.user-form {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"],
.user-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.user-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.user-form button[type="submit"]:focus {
    outline: none;
}

.dark-theme-variables {
    --background-color: #202020;
    --text-color: #ffffff;
    --input-background-color: #333333;
    --input-border-color: #666666;
    --button-background-color: #007bff;
    --button-text-color: #ffffff;
}

.dark-theme-variables .user-form {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-theme-variables .user-form input[type="text"],
.dark-theme-variables .user-form input[type="email"],
.dark-theme-variables .user-form input[type="password"],
.dark-theme-variables .user-form input[type="file"] {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    color: var(--text-color);
}

.dark-theme-variables .user-form button[type="submit"] {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}


.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }



  #video{
    border: 1px solid #ccc;
    width: -webkit-fill-available;
    border-radius: 36px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }